@model ProductCategoryViewModel

<div class="m-5 flex flex-col items-center">
    <div class="m-3 p-3 bg-gradient-to-r from-blue-500 to-slate-950 shadow-lg rounded-lg">
        <h1 class="text-center text-4xl font-extrabold text-white drop-shadow-lg tracking-wider">
            Product List
        </h1>
    </div>
    <div class="m-1.5 overflow-x-auto flex flex-col items-center">
        <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="text-right m-5">
                <a asp-controller="Product" asp-action="Create"
                   class="bg-blue-600 px-2 py-1 text-white text-xl rounded-md border border-blue-600 hover:bg-blue-900">
                    Create
                    New
                    Product
                </a>
            </div>
            <div class="border rounded-lg shadow overflow-hidden border-gray-500 shadow-gray-500">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-blue-800">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-center text-2xl text-white">
                                Title
                            </th>
                            <th scope="col" class="px-6 py-3 text-center text-white text-2xl">
                                Author
                            </th>
                            <th scope="col" class="px-6 py-3 text-center text-white text-2xl">
                                Category
                            </th>
                            <th scope="col" class="px-6 py-3 text-center text-white text-2xl">
                                Price
                            </th>
                            <th scope="col" colspan="2"class="px-6 py-3 text-center text-white text-2xl">
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
                        @foreach (var item in Model.Products)
                        {
                            <tr>
                                <td class="text-start px-6 py-4 whitespace-nowrap text-3xl text-gray-950">
                                    @item.Title
                                </td>
                                <td class="text-start px-6 py-4 whitespace-nowrap text-3xl text-gray-950">
                                    @item.Author
                                </td>
                                <td class="text-start px-6 py-4 whitespace-nowrap text-3xl text-gray-950">
                                    @Model.Categories.FirstOrDefault(c => c.Id == item.CategoryId)?.Name
                                </td>
                                <td class="text-center px-6 py-4 whitespace-nowrap text-3xl text-gray-950">
                                    @item.Price
                                </td>
                                <td class="px-3 py-4">
                                    <a class="p-2 inline-flex items-center gap-x-2 text-2xl font-semibold rounded-lg bg-green-600 text-white hover:bg-green-800" asp-action="Edit" asp-route-id="@item.Id">
                                        Edit
                                    </a>
                                </td>
                                <td class="px-4 py-4">
                                    <a class="p-2 inline-flex items-center gap-x-2 text-2xl font-semibold rounded-lg bg-red-600 text-white hover:bg-red-800" asp-action="Delete" asp-route-id="@item.Id">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
